{% if page.content.size > 0 %}
  <div class="rte">
    {{ page.content }}
  </div>
{% endif %}
  {% comment %} FAQs sections  start{% endcomment %}
  
    <div class="faq-ac">
    {% for block in section.blocks %}    
      
      {% if block.type == 'text' %}
           <h1>{{ block.settings.cat-title }}</h1>
      {% elsif block.type == 'select' %}
        <main> 
          <details class="dt-faq"> 
          <summary>{{ block.settings.faqs-title }}</summary>
          <div class="faq__content">
            <p> {{ block.settings.faqs-answer }}</p>
          </div>
          <details>        
        </main>
          
      {% endif %}
        
    {% endfor %}
    </div>          
  

  {% comment %} FAQs sections end {% endcomment %}


{% schema %}
{
  "name": "FAQs Blocks",
	
  "settings": [
    {
      "id": "faqs-title",
      "type": "text",
      "label": "Heading",
      "default": "FAQs Title"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Add FAQs category",
      "settings": [
        {
          "id": "cat-title",
          "type": "text",
       		"label": "FAQs Title"
        }
      ]
    },
    {
      "type": "select",
      "name": "Add FAQs",
      "settings": [
        {
          "id": "faqs-title",
          "type": "text",
       		"label": "FAQs Title"
        },
        {
          "id": "faqs-answer",
          "type": "richtext",
          "label": "answer text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQs Blocks",
      "category": "Custom",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
/* faqs css*/
.faq-ac {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* background: #0B2647; */
  color: black;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: center;
/*   height: 100vh; */
  padding: 20px 0;
}
.faq-ac h1 {
  font-size: clamp(20px, 4vw, 30px);
  line-height: 1.2;
  margin-bottom: 40px;
  margin:0px;
}
.faq-ac summary{
  color: blue;
}
.faq__content p{
	/* color:#f3e488; */
}
.faq-ac main {
  max-width: 85% !important;
  margin: 0 auto;
  padding: 10px;

}
summary {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #fff;
  color: #333;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}
.dt-faq details{ display: none;}
/* details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
} */
@keyframes sweep {
  0%    {opacity: 0; margin-top: -10px}
  100%  {opacity: 1; margin-top: 0px}
}
/*
details > summary::after {
  position: absolute;
  content: "+";
  right: 20px;
}
details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
}
details > summary::-webkit-details-marker {
  display: none;
}*/
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
